body {
	/* Misc */
	overflow: hidden;
	margin: 0;

	/* Bg */
	background-image: url("../media/back.jpg");
	background-repeat: repeat;

	/* Font */
	color: rgb(180, 180, 180);
	font-family: sans-serif;
}

h1 { font-size: 6em; }
h2 { font-size: 3.5em; }
h3 { font-size: 3em; }
h4 { font-size: 2em; }
li { font-size: 2em; }

.slide {
	/* A slide = 100% vertical screenheight*/
	min-height: 100vh;
	/* Space between slides */
	margin: 5vh 0 5vh 0;
	background-color: rgba(0, 0, 0, .1);
	-webkit-animation-delay: 1s;
}

.slide_exit {
	-webkit-filter: blur(1px);
	-webkit-animation-delay: 0s;
}

.slide_content {
	padding: 1.5% 0 0 15%;
}

.logo_big {
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	display: block;
}


/* Jeb animation */
@keyframes jeb {
	0% { top: 50px; } 
	50% { top: 100px; } 
	100% { top: 50px; } 
}

#jeb {
	width: 8%;
	top: 20%;
	left: 2.5%;
	animation: jeb 5s infinite reverse ease-in-out;
	position: fixed;
}

#previous {
	padding-top: 10%;
	z-index: 999;
	position: fixed;
	height: 50%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: transparent;
	opacity: .5;
}

#next {
	z-index: 999;
	position: fixed;
	height: 50%;
	width: 100%;
	top: 50%;
	left: 0;
	background-color: transparent;
	opacity: .5;
}

#previous img {
	width: 15%;
	display: block;
	margin: 0 auto;
}

#next img {
	width: 15%;
	display: block;
	margin: 0 auto;
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

#next p,
#previous p {
	text-align: center;
	margin: 0;
	font-size: 2em;

}

#sidebar {
	z-index: 1000;
	height: 100vh;
	width: 1.5vw;
	position: fixed;
	right: 0;
	top: 0;
	background-color: rgba(50, 50, 80, .5);
	opacity: .35;
}

#sidebar:hover {
	opacity: 1;
}

#sidebar_button {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1001;
	background-color: rgba(50, 50, 80, .5);
	opacity: .35;
}

#sidebar_button:hover {
	opacity: 1;
	cursor: pointer;
}

.sidebar_element {
	text-align: center;
	font-size: 1.2vw;
	cursor: pointer;
}

.sidebar_element:hover {
	color: white;
}

/* For images below text */
.image_desc {
	max-height: 40vh;
	float: right;
	display: inline;
	margin-right: 10%;
}

#status {
	top: 0;
	left: 0;
	width: 100vw;
	position: fixed;
	overflow: hidden;
	background-color: rgba(50, 50, 80, .5);
	padding: 3px;
	font-size: 1.5em;
}

#status #status_authors {
	display: table;
	margin: 0 auto;
}
#status #status_slide {
	display: table;
	margin: 0 0;
	float: left;
	
}

.vid {
	width: 30%;
}
